/* <======= General Style ========> */
h1,h2,h3,h4,h5,h6,p {margin-top: 0;margin-bottom: 0;}
ul, ol{margin-top: 0;margin-bottom: 0;padding-left: 0;}
img{display: block;}
.list, .nav-list, .address-list, .benefits-list, .team-list, .portfolio-list {list-style-type: none;}
.link {text-decoration: none;}

button {cursor: pointer;}
body {font-family: "Roboto", sans-serif;
      color: #434455;
      background-color: #FFF;}

.container {width:1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;}
.section{padding-top: 120px;
         padding-bottom: 120px;}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* Head Section Styles */
.page-header{
border-bottom: 1px solid #e7e9fc;
box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);}
.head-nav{display: flex;
        align-items: center;
        justify-content: space-between;}
.navigation{display: flex;
align-items: center;}
.logo
   {color: #4d5ae5;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    }

.logo-part
    {color:#404bbf;}

.nav-list
    {color:#2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 40px;}
.nav-list-item{transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.nav-link{padding-top: 24px;
        padding-bottom: 24px;
        color: #2E2F42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.contacts{font-style: normal;}
.nav-link-address{color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.nav-link{ overflow: hidden;}
.nav-link::after
{display: block;
 width: 48px;
 height: 4px;
background-color:#404BBF;
content: '';
margin-left: auto;
margin-right: auto;
position: absolute;
bottom: -1px;
left: 0;
border-radius: 2px;
transform: translateY(100%);}
.address-list
    {color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 40px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.nav-link:hover, .nav-link:focus, .nav-link-address:hover, .nav-link-address:focus {color: #404BBF;}
.nav-link:hover{position: relative;}


/* <========== Hero sections ===========> */
.hero-sections {background-color: #2E2F42;
height: 600px;
padding-top: 188px;
padding-bottom: 188px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img.jpg);
background-size: cover;
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
}

.hero-title {color: #FFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
   }
.order-button{color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
     button:hover, button:focus {background-color: #404BBF}

/* Benefits sections */
.benefits-list{display: flex;
    align-items: center;
    gap: 24px;}
.benefits-name
   {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px}
.benefits-article
   {color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;}
.benefits-list-item{width: calc((100% - 72px) / 4);}
.benefits-icon-container
{display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
height: 112px;
background-color: #f4f4fd;
margin-bottom: 8px;
}


/* Team section */
.team-section{background-color: #F4F4FD;}
.team-title 
   {color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
margin-bottom: 72px;}
    
.team-list{display: flex;
           gap: 24px;}
.team-list-item {
    background-color: #FFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);}
.team-person
   {color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px}
.team-part
    {color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;}
.team-worker{padding: 32px 0;}
.team-social{display: flex;
gap: 24px;
justify-content: center;
margin-top: 8px;}
.team-social-icon-container
{width: 40px;
height: 40px;
}
.team-social-icon{fill: #f4f4fd;}
.team-social-icon-link
    {display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    .team-social-icon-link:hover{background-color: #404bbf;} 
    .team-social-icon-link:focus{background-color: #404bbf;}

    /* Portfolio section */

.portfolio-title
   {color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
margin-bottom: 72px;}
.portfolio-list{display: flex;
justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;}
.portfolio-list-item:hover{box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);;}
.portfolio-list-item
{width:calc((100% - 48px)/3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.portfolio-text{padding-top: 32px;padding-bottom: 32px; padding-left: 16px;padding-right: 16px;
border: 1px solid #e7e9fc;
border-top: none;}
.portfolio-servise
   {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px}

.portfolio-task
   {color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}

.overlay-img{position: relative;
overflow: hidden;}

.overlay
{position: absolute;
top: 0;
left: 0;
height: 100%;
color: #F4F4FD;
background-color: #4D5AE5;
padding: 40px 32px;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
transform: translateY(100%);
overflow: auto;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.portfolio-list-item:hover .overlay{transform: translateY(0%);}


/* Footer Sections */


.footer-back{background-color: #2E2F42;
margin-left: auto;
padding-top: 100px;
padding-bottom: 100px;}
.footer-logo 
{color: #4d5ae5;
font-family: 'Raleway',sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px}
.logo-part-second
    {color:#F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase; }
.footer-article
    {color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;}
.footer-container
{display: flex; 
    align-items: baseline;}
.footer-logo-container{margin-right: 120px;}
.footer-social-title
   {color:#FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
margin-bottom: 16px;}
.footer-social{display: flex;
        gap: 16px;
        justify-content: center;}
        
.footer-social-icon-container {
                    width: 40px;
                    height: 40px;}
        
 .footer-social-icon-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: #4D5AE5;
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
.footer-social-icon{fill: #f4f4fd}
        
.footer-social-icon-link:hover {
                    background-color: #31d0aa;
                }
        
.footer-social-icon-link:focus {
                    background-color: #31d0aa;
                }