/* <======= General Style ========> */
h1,h2,h3,h4,h5,h6,p {margin-top: 0;margin-bottom: 0;}
ul, ol{margin-top: 0;margin-bottom: 0;padding-left: 0;}
img{display: block;}
.nav-list, .address-list, .benefits-list, .team-list, .portfolio-list {list-style-type: none;}
.link {text-decoration: none;}

button {cursor: pointer;}
body {font-family: "Roboto", sans-serif;
      color: #434455;
      background-color: #FFF;}

.container {width:1158px;
margin-left: auto;
margin-right: auto;
padding-left: 16px;
padding-right: 16px;}
.section{padding-top: 120px;
         padding-bottom: 120px;}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* Head Section Styles */
.page-header{padding-top: 24px;
padding-bottom: 24px;
border-bottom: 1px solid #e7e9fc}
.head-nav{display: flex;
        align-items: center;
        justify-content: space-between;}
.navigation{display: flex;
align-items: center;
padding-left: 15px;padding-right: 15px;}
.logo
   {color: #4d5ae5;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    }

.logo-part
    {color:#2e2f42;}

.nav-list
    {color:#2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 40px;
padding-top: 24px;padding-bottom: 24px;}
.nav-link{color: #2e2f42;}
.contacts{font-style: normal;}
.nav-link-address{color: #434455;}
.address-list
    {color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 40px;}
.nav-link:hover, .nav-link:focus, .nav-link-address:hover, .nav-link-address:focus {color: #404BBF;}

/* <========== Hero sections ===========> */
.hero-sections {background-color: #2E2F42;
height: 600px;
padding-top: 188px;
padding-bottom: 188px;
}

.hero-title {color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
   }
.order-button{color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;}
     button:hover, button:focus {background-color: #404BBF}

/* Benefits sections */
.benefits-list{display: flex;
    align-items: center;
    gap: 24px;}
.benefits-name
   {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px}
.benefits-article
   {color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;}
.benefits-list-item{width: calc((100% - 72px) / 4);}

/* Team section */
.team-section{background-color: #F4F4FD;}
.team-title 
   {color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
margin-bottom: 72px;}
    
.team-list{display: flex;
    gap: 24px;}
.team-list-item {
    background-color: #FFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;}
.team-person
   {color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px}
.team-part
    {color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;}
.team-worker{padding: 32px 0;}

    /* Portfolio section */

.portfolio-title
   {color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
margin-bottom: 72px;}
.portfolio-list{display: flex;
justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;}
.portfolio-list-item{width: calc((100% - 48px) / 3);}
.portfolio-text{padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;}
.portfolio-servise
   {color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px}

.portfolio-task
   {color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
margin-bottom: 32px;}


/* Footer Sections */


.footer-back{background-color: #2E2F42;
height: 312px;
margin-left: auto;
padding-top: 100px;
padding-bottom: 100px;}
.footer-logo 
{color: #4d5ae5;
font-family: 'Raleway',sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-block;
margin-bottom: 16px}
.logo-part-second
    {color:#F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase; }
.footer-article
    {color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
margin-top: 17.5px;}